*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 99;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__content {
  background-color: #323232;
  color: #fff;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, 100%) rotateX(45deg);
  transform: perspective(600px) translate(0px, 100%) rotateX(45deg);
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100px;
  font-size: 36px;
  align-items: center;
  background-color: #323232;
  color: #fff;
}

.block {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    margin-top: 50px;
  }
  img {
    width: 90%;
    max-width: 500px;
  }
  p {
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    width: 700px;
    @media screen and (max-width: 1000px) {
      font-size: 20px;
      line-height: 24px;
      width: 100%;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    background: #ff6d0a;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
  }
  &__title {
    width: 100%;
    background-color: #323232;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
  }
}

.line {
  height: 1px;
  width: 90%;
  margin: 100px auto 0 auto;
  background: #323232;
  @media screen and (max-width: 1000px) {
    margin-top: 50px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 500px;
  color: #fff;
  align-items: center;
  &__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    p {
      font-size: 20px;
      line-height: 22px;
      margin: 10px auto;
    }
    input {
      background-color: #323232;
      border: solid #fff 2px;
      border-radius: 10px;
      color: #fff;
      width: 250px;
      height: 40px;
      padding-left: 10px;
      margin: 0 auto;
    }
  }
  button {
    background-color: #323232;
    border: solid #fff 2px;
    border-radius: 10px;
    color: #fff;
    width: 250px;
    height: 50px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
  }
  p {
    font-size: 28px;
    text-align: center;
  }
}

#hidden {
  display: none;
  font-size: 36px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background: #323232;
  color: #fff;
}

.swiper {
  width: 30%;
  height: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  margin: 0 !important;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.swiper-slide {
  width: 100% !important;
  padding: 50px 30px;
  img {
    margin: 0 auto;
  }
}
:root {
  --swiper-theme-color: #111 !important;
}
